form#login {
  display: none;
  z-index: 9999;
  position: fixed;
  height: auto;
  top: 50%;
  left: 50%;
  width: 50%;
  margin-left: -25%;
  margin-top: -12.5%;
  background: #fff;
  border-top-right-radius: 3em;
  border-bottom-left-radius: 3em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  padding: 0.5em;
  color: #000;
  text-shadow: 1px 1px 0px #003647;
}

#login-inner {
  border-top-right-radius: 2.5em;
  border-bottom-left-radius: 2.5em;
  background-color: rgba(16, 128, 154, 0.75);
  border: 1px solid #0ea4c6;
  padding: 2em 1em 1em 1em;
}

#login-inner input {
  border-color: #003647;
}

#login-inner .h1 {
  color: #fff;
  margin-top: 0;
  font-size: 2.5em;
  text-align:center;
}

#login-inner a {
  color: #fff;
}

#login-inner .close {
  position:absolute;
  top: -0.75em;
  left: -0.5em;
  font-size: 1.5em;
}

.small{
  margin-left: 20px;
}